.contact-div-inner {
    min-height: 40vh;
    ;
}

.contact-p {
    margin-bottom: 100px;
}

.contact-cta-btn {
    margin-bottom: 40px;
}




@media(max-width: 768px),
 (max-width: 1024px) and (pointer: coarse) {
    .contact-p {
        margin-left: 0.75em;
        margin-right: 0.75em;
    }
}